<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="aqua">
<center>
    <form action="./verify">
        Enter First Number:<input type="text" name="t1"><br>
        Enter second Number:<input type="text" name="t2"><br>
        Enter Username:<input type="text" name="t3"><br>
        Enter Password:<input type="text" name="t4"><br>
        Enter Cpassword:<input type="text" name="t5"><br>
        Enter Email Id:<input type="text" name="t6"><br>
        Enter Phone NO:<input type="text" name="t7"><br>
        <input type="submit" value="verify"><br>
    </form>
</center>
</body>
</html>